@import url(var.css);
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Be Vietnam', sans-serif;
    background: url(../img/bg-tablet-pattern.svg);
    background-size: 450px;
    background-position: 50px -180px;
    background-repeat:no-repeat;
}

header div.main_header{
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div.main_header i.fa-bars{
    margin:5px;
    font-size: 25px;
    color: var(--color_text_dark);
}

header div.main_header nav.site_nav{
    display: none;
}

header div.main_header nav.site_nav ul{
display: flex;
justify-content:space-evenly;
align-items: center;
}

header nav.site_nav ul li{
    list-style: none;
    margin: 5px;
    flex-shrink: 0;

    }

header nav.site_nav ul li a{
    text-decoration: none;
    color: var(--color_text_dark);
    font-weight: 700;


}

header nav.site_nav ul li a:hover{
    color: var(--color_text_lightgr);
    cursor: pointer;
}

header div.main_header button.get_started{
    display: none;

}
button.get_started{
    background: var(--color_vivid);
    border:none;
    width: 135px;
    height: 45px;
    border-radius: 40px 40px 40px 40px;
    color: var(--color_text_clear);
    font-weight: 700;
    margin: 10px 5px;

}
button.get_started:hover{
    background: var(--color_vivid_hover);
    cursor: pointer;
    
}

/* /////////// MAIN ////////// */
main{


}


main div.upper_content{
    display: flex;
    flex-direction:column;

}

main div.upper_content div.prim_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main div.upper_content div.prim_description h1{
    text-align: center;
    color: var(--color_text_dark);
    font-size: 2.5rem;
    line-height: 3rem;
    margin:10px 15px;
}

p.dark_small{
    text-align: center;
    color: var(--color_text_light);
    font-size: 1rem;
    line-height: 1.5rem;
    margin:10px;

}

main div.main_content{
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-around;
    align-items: center;
}

main div.main_content div.different{
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin:10px 15px;

}

main div.main_content div.different h2{
    text-align: center;
    color: var(--color_text_dark);
}


main div.main_content div.dual_vertical h4{
background: var(--color_bkgrnd_lightvivid);
color: var(--color_text_dark);
line-height: 2.4rem;
text-align: left;
margin-left: 20px;
border-radius: 40px 0 0 40px;
}

main div.main_content div.dual_vertical h4::before{
    content: "01";
    background: var(--color_vivid);
    border:none;
    display: inline-block;
    text-align: center;
    width: 4.2rem;
    height: 2.4rem;
    margin-right: 18px;
    border-radius: 40px 40px 40px 40px;
    color: var(--color_text_clear);
    font-weight: 700;
}

main div.main_content div.dual_vertical h4.second::before{

    content: "02";
}

main div.main_content div.dual_vertical h4.third::before{
    content: "03";
}

main div.main_content div.dual_vertical p{
    font-size: 0.9rem;
    color: var(--color_text_light);
    line-height: 1.5rem;
    margin: 5px 10px 40px 20px;

}


main div.comments div.cont_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main div.comments h2{
    color: var(--color_text_dark);
    text-align: center;
    margin: 40px;
}

main div.comments div.cont_slider div.slider{
    margin:20px;
    background: var(--color_bkgrnd_light);
    /* width:1800px; */
    display: flex;


}

main div.comments div.slide{
    position:relative;
    padding: 60px 55px;
    width:450px;
    height: 250px;
}

main div.comments div.slide img{
    position:absolute;
    left: calc(225px - 35px);
    top:-35px;
    width:70px;
    height: 70px;
}

main div.comments h4{
    color: var(--color_text_dark);
    text-align: center;
}

main div.comments p{
    margin-top: 20px;
    text-align: center;
    color:var(--color_text_light)

}

main div.comments nav.slider{
    margin-bottom: 50px;
}

main div.comments nav.slider li{

    display: inline;
    
}

main div.comments nav.slider li i.fa-circle{
    color: white;
    border:solid 3px var(--color_vivid);
    border-radius:50%;

}

main div.comments nav.slider li i.fa-circle:hover{
    color:var(--color_vivid);
}

main div.comments div.cont_slider button.get_starded{
    margin-bottom: 50px;
}



/* ////////// FOOTER ////////// */

footer div.upper_footer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color_vivid);
}

footer div.upper_footer h2{
    text-align: center;
    color: var(--color_text_clear);
}

footer div.upper_footer button.inverted{
    color: var(--color_vivid);
    background: var(--color_text_clear);
    font-weight: 700;
}

footer div.upper_footer button.inverted:hover{
color: var(--color_vivid_hover);
cursor: pointer;
}

footer div.bottom_footer{
    padding-top: 20px;
    background: var(--color_bkgrnd_dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.bottom_footer form{
    margin:20px;
}

footer div.bottom_footer form input{

    border:none;
    border-radius: 40px 40px 40px 40px;
    font-weight: 700;
    margin: 10px 5px;
}

footer div.bottom_footer form input[type=email]{
    width: 200px;
    height: 45px;
    padding-left: 20px;
}

footer div.bottom_footer form input[type=email]:invalid{
    border:solid 1px var(--color_vivid);
    content:"Please insert a valid email"


}
footer div.bottom_footer form span.feedback{
    color: var(--color_vivid);
    display: none;
}

footer div.bottom_footer form input[type=submit]{
    width: 75px;
    height: 45px;
    background: var(--color_vivid);
    color: var(--color_text_clear);
}

footer div.bottom_footer form input[type=submit]:hover{
    background: var(--color_vivid_hover);
    cursor: pointer;
    
}

footer div.bottom_footer nav.footer_site_nav{
    width: 90vw;

}

footer div.bottom_footer nav.footer_site_nav ul{
    padding:20px;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 190px;


}

footer div.bottom_footer nav.footer_site_nav ul li{
    line-height: 2rem;
    padding-left: 40px;
}


footer div.bottom_footer nav.footer_site_nav ul li a{
    text-decoration: none;
    color:var(--color_text_clear);
    font-size: 0.8rem;
}
footer div.bottom_footer nav.footer_site_nav ul li a:hover{
    color: var(--color_vivid);
}

footer div.bottom_footer div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.bottom_footer div.social nav ul.social_nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 90vw;
    max-width: 150px;
    padding:12px;

}

footer div.bottom_footer div.social nav ul.social_nav li a i.fab{
color: var(--color_text_clear);
font-size: 2rem;
margin: 10px;
}

footer div.bottom_footer div.social nav ul.social_nav li a i.fab:hover{
    color: var(--color_vivid);

}

footer div.bottom_footer div.social img{
    padding: 35px;
}

footer div.bottom_footer p{
    color: var(--color_text_lightgr);
    font-size: 0.8rem;
    line-height: 1rem;
    padding:20px;
}


@media (min-width: 460px){




}
@media (min-width: 625px){
    header div.main_header i.fa-bars{
        display:none;
    }
    header div.main_header nav.site_nav{
        display:initial;
    }

    main{
        width: 90vw;
    }
    main div.upper_content{
        flex-direction: row-reverse;
        padding: 0 10%;
        justify-content: center;
        align-items: center;
    }

    main div.upper_content div.prim_description{
        align-items: flex-start;
    }

    main div.upper_content div.prim_description h1{
        text-align:left;
    }

    p.dark_small{
        text-align: left;
    }

    main div.main_content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    main div.main_content div.different{
        padding-top:0px;
        width: 30%;
        align-items: flex-start;
        }

        main div.main_content div.different h2{
            text-align: left;
        }


        main div.main_content div.dual_vertical{
            padding-top:20px;
            width: 45%;
        }

        main div.main_content div.dual_vertical h4{
            background: none;
            margin-left: 20px;

        }

        main div.main_content div.dual_vertical h4::before{
        position:absolute;
        transform: translateX(-100px);
        }

        footer{

        }

        footer div.bottom_footer{
            flex-flow: row wrap;
            justify-content: space-around;
            height: 250px;
        }

        footer div.bottom_footer div.social{
        order:1;
        flex-direction: column-reverse;
        max-width: 20vw;
        }

        footer div.bottom_footer form{
            order:3;
        }
        footer div.bottom_footer nav.footer_site_nav{
            order:2;
            width:50vw;
            max-width: 500px;
        }

        footer div.bottom_footer p{
        order: 4;
        width: 90vh;
        text-align: center;
        right: 10%;
        }















}







@media (min-width: 768px){
    header div.main_header button.get_started{
        display:initial;
    }
}